<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>{{username}} @ GitHub</title>
		<link rel="stylesheet" href="style.css?v=2" media="screen" />
	</head>
	<body>
    <header>
      <h1><a href="http://github.com/{{username}}">@{{username}}</a> is {{fullname}}</h1>
      <ul>
        <li>Following: <a href="https://github.com/{{username}}?tab=following">{{following}}</a></li>
        <li>Followers: <a href="https://github.com/{{username}}?tab=followers">{{followers}}</a></li>
        <li>Public Repositories: <a href="https://github.com/jmhobbs?tab=repositories">{{publicrepos}}</a></li>
      </ul>
    </header>

    <section>
      <h2>Public Repositories</h2>
      <div class="container">
      {{#repos}}
        <div class="repo">
          <h3><a href="{{url}}">{{name}}</a></h3>
          {{#description}}
          <p>{{description}}</p>
          {{/description}}
          {{#homepage}}
          <p><a href="{{homepage}}">{{homepage}}</a></p>
          {{/homepage}}
          <p>Forks: {{forks}} | Stars: {{watchers}}</p>
        </div>
      {{/repos}}
      </div>
    </section>
    <footer>
      Contact me {{#email}}via {{email}} or {{/email}}on <a href="http://github.com/{{username}}">GitHub</a>
    </footer>
  </body>
</html>
