body {
	margin-top: 1.0em;
	background: #0D0D0D url(wrap-bg.jpg) fixed no-repeat center -52px;
	font-family: "Helvetica,Arial,FreeSans";
	color: #000000;
	text-shadow: 0 0 2px #FFF;
}
#container {
	margin: 0 auto;
	width: 700px;
}
h1 { font-size: 3.8em; color: #FFF; margin-bottom: 3px; }
h1 .small { font-size: 0.8em; color: #EEE; text-shadow: 0 0 2px #444; }
h1 a { text-decoration: none; color: #FFF; }
h2 { font-size: 1.5em; color: #FFF; }
h3 { color: #FFF; }
h3 .small { font-size: 0.8em; font-weight: normal; }
a { color: #000000; }
.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic; color: #EEE; text-shadow: 0 0 1px #444; }
.download { float: right; }
pre { background: #000; color: #fff; padding: 15px; text-shadow: 0; width: 678; overflow: hidden; }
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer, .footer > a { text-align:center; padding-top:30px; font-style: italic; color: #EEE; text-shadow: 0 0 1px #444; }
.repo { padding: 0 10px; border: 1px solid #777; margin: 5px 0; background: #EEE; text-shadow: 0 0 2px #999; }

